html {
    pointer-events: auto;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif!important;
}

body , p , h1 , h2 , h3 , h4 , h5 , h6 , span , div{
    font-family: 'Roboto', sans-serif!important;
}



/* .header-container
{
    display: flex;
    background: transparent;
    padding-top: 2%;
    padding-bottom: 8%;
    width: 100%;
    justify-content: space-between;
    align-items:center;
}
.data-binding{
    padding:5px 23px;
}
.navbar.navbar-expand-sm {
    position: relative!important;
    color: #ffff!important;
}

.my-own-color{
    background-color: #0b0d0e!important;
}
.navbar.navbar-expand-sm a{
    color:rgba(255,255,255,.9);
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: .14em;
    text-transform: uppercase;
}
.nav-section{
    position:relative;
}
.navbar.navbar-expand-sm 
{
    position:absolute;
}
/* home css */
/* .slide-first-img
{
    font-size: 0px;
    left: -0.381908px;
    top: 0px;
    width: 100%;
    height: 672px;
    position: relative;
    padding-left:20px;
    padding-right:20px;
    padding-top:25px;
} 

.my-own-text h2{
    
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    letter-spacing: .2em;
    line-height: 1.4em;
    text-transform: none;
    color: rgba(255,255,255,.8);
    margin-bottom: 10px;
}
.my-own-text h1{
    color:#fff;
   padding-top:20px;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .22em;
    line-height: 1.4em;
    text-transform: none;

}
.my-own-text
{
    background-color: #0b0d0e!important;
    min-height:100vh;
}  */




/* header*/
body {
    /* font-family: Asap; */
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .01em;
    line-height: 1.5em;
    text-transform: none;
    color: rgba(255, 255, 255, .75);

}

.root-container {
    background: #0b0d0e;
}
.press-root-container{
    background: #fff;
}

.my-own-navbar {
    background: transparent !important;
}

.header-section {
    padding: 17px 5px 70px 7px !important;
}

.img-branding-logo {
    max-width: 39px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 7px;
}

.nav-link {
    padding: 15px 19px 2px 2px !important;
}

.my-own-nav-section li span.nav-link {
    color: rgba(255, 255, 255, 0.9) !important;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: .14em;
    text-transform: uppercase;
}

.own-navs {
    z-index: 1;
}

.neuron-ev-heading {
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    /* text-transform: uppercase; */
    color: rgba(255, 255, 255, .8);
    font-weight: 300;
    line-height: 1.4em;
    margin-bottom: 21px;
    margin-top: -2px;
}

.nav-item.dropdown {
    cursor: pointer;
}

ul.my-own-socialism {
    color: #fff;
    padding-top: 12px;
}

.my-own-nav-section li.nav-item {
    padding-left: 5px;
    padding-right: 3px;
    line-height: 13px;
}

.my-own-social-icon {
    padding-left: 30px;
}

.newsletter-form-button {
    padding: 13px 45px 11px 45px !important;
}

.newsletter-form-button:hover {
    background: #fff;
    color: #1d1d1d;
}

/*home*/
.image-container {
    position: relative;
    height: 880px;

}

.slide-img {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-animation: anim-opacity-full 480ms ease-out;
    animation: anim-opacity-full 480ms ease-out;
}


.image-container img {
    width: 100%;
    position: absolute;
    animation-name: multiple-image-crossfade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s
}

.image-container img:nth-of-type(1) {
    animation-delay: 6s;
}

.image-container img:nth-of-type(2) {
    animation-delay: 4s;
}

.image-container img:nth-of-type(3) {
    animation-delay: 2s;
}

.image-container img:nth-of-type(4) {
    animation-delay: 0s;
}

/* .image-container img:nth-of-type(5) {
    animation-delay: 6s;
  }
  .image-container img:nth-of-type(6) {
    animation-delay: 2s;
  }
  .image-container img:nth-of-type(7) {
    animation-delay: 0;
  } */


@keyframes multiple-image-crossfade {
    0% {
        opacity: 1;
    }

    17% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    92% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.experience-heading {
    text-align: center;
    white-space: pre-wrap;
    color: rgba(255, 255, 255, .8);
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    letter-spacing: .2em;
    line-height: 1.4em;
    text-transform: none;
    /* margin-top: -5%; */
    padding-bottom: 18px;
}
.experience-heading.text-wrapper {
    padding-top: 60px;
}
.experience-another-heading {
    text-align: center;
    white-space: pre-wrap;
    color: #fff;
    margin-top: 17px;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .22em;
    line-height: 1.4em;
    text-transform: none;

}

.my-own-neuron-para {
    text-align: center;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .01em;
    line-height: 1.5em;
    text-transform: none;
    color: rgba(255, 255, 255, .75);
}

.my-own-background-color {
    padding-top: 8%;
    padding-bottom: 5%;
    position: relative;
    margin-bottom: -32px;
}

.my-own-background-color-2 {
    padding-top: 4%;
    padding-bottom: 5%;
    position: relative;
    margin-bottom: -32px;
}

.arrow-image-my-own-img {
    /* padding: 35px 17px; */
    cursor: pointer;

}

.set-index-arrow-home {
    text-align: center;
    z-index: 3;
    padding: 0 10px;
    overflow: hidden;
    cursor: pointer;
    line-height: 0;
    position: relative;
    top: 95px;
}

.set-index-arrow-home img {
    height: 38px;
    margin-bottom: 5px;
}

.set-index-arrow {
    position: absolute;
    bottom: 27px;
    left: 47%;
    z-index: 3;
    padding: 0 10px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    line-height: 0;
}

/*social icon css*/
.social-icon {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px
}

.social-icon li {
    font-size: 16px;
    padding: 5px 9px 2px 4px;
    cursor: pointer;
    /* color: #fff; */
}
.promo-icon li{
    color: #222222;
}
.social-icons .list-unstyled {
    padding-left: inherit !important;
    list-style: none;
    margin-left: 35px;
}

.my-own-social-icons {
    color: #fff;
}

.social-icons .list-unstyled:hover {
    color: grey;
}

.social-icons .list-unstyled li:hover {
    color: #fff;
}

.my-own-socialism {
    display: flex;
    justify-content: center;
    margin-left: 0px !important;
}

.my-own-socialism .social-icon li {
    font-size: 14px;
    padding: 10px 12px !important;
}

.block-content p {
    margin-bottom: 0px;
}

.my-own-neuron-para.own-para {
    margin-bottom: 15px;
}


/*footer*/
nav.footer-nav {
    text-align: center;
    padding: 20px 0;
}

.footer {
    display: block;
    background: #000;
}

.inner-footer {
    box-sizing: border-box;
    padding: 75px 17px 65px 17px;
}

.empty-block-footer {
    padding: 0 !important;
    color: #fff;
}

.my-own-row {
    margin-left: -17px;
    margin-right: -17px;
    width: auto;
}

.Footer-nav {
    margin-right: -1em;
    text-align: center;
}

.footer-group-section {
    display: inline;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    letter-spacing: .1em;
    line-height: 1em;
    text-transform: uppercase;
}

.footer-group-section span {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.footer-group-section span:hover {
    color: gray;
}

.footer-group-section a:hover {
    color: #fff;
    text-decoration: none;
}

.footer-block {
    color: #fff;
    margin-top: -12px;
}

.own-social-links {
    padding-top: 20px;
    padding-bottom: 20px;
}

.row-aside {
    margin-left: -17px;
    margin-right: -17px;
}

.block-section {
    box-sizing: border-box;
    width: 66.66000000000001%;
    margin-right: auto;
    margin-left: auto;
    clear: both;
    padding-left: 17px;
    padding-right: 17px;
    position: relative;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
    outline: none;
    box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0);
    padding-top: 0px;
}

.newsletter-block-title {
    margin: 0 0 17px 0;
    padding: 0;
    color: #fff;
    font-size: 30px;
    line-height: 1.2em;
    text-align: inherit;
    letter-spacing: .2em;
}

.newsletter-para-description {
    margin: 17px 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.6em;
    color: #fff;
    padding-top: 4px;
}

.change-color {
    background: #080808 !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.newsletter-form-field-element.field-element {
    border: 1px solid rgba(0, 0, 0, .12);
    color: #272727;
    padding: 1em;
    background: #fff;
    font-family: inherit;
    font-size: 15px;
    line-height: normal;
    outline: none;
    width: 100%;
}

.subscribe-form-group {
    padding: 5px 0 12px 0;
}

.email-container {
    display: inline-block;
    width: auto;
    margin: 12px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.email-section {
    display: inline-block;
    width: auto;
    min-width: 250px;
    padding: 6px 3px;
    margin-right: 5px;
    padding-top: 10px;
}

.submit-wrapper {
    display: inline-block;
    width: auto;
    padding: 9px 3px 6.5px 3px;
}

.newsletter-form-button {
    font-size: 15px;
    line-height: normal;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 1em 2.5em;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: 0.1s background-color linear, 0.1s color linear;
    box-shadow: inset 0px 0px 0px 1px #fff;
    color: #fff;
    background: transparent;
    border: 1px solid #fff !important;
}

.newsletter-form-footnote {
    color: #fff;
}

.newsletter-form-footnote p {
    opacity: .8;
    margin: 17px 0;
    padding: 0;
    font-size: 12px !important;
    line-height: normal;
}

.footer-section-container h3 {
    text-align: center;
    white-space: pre-wrap;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: .01em;
    line-height: 1.6em;
    text-transform: none;
}






.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-sizing: border-box;
    top: 35px;
    /* margin-left: 22px!important; */
    padding-left: 5px !important;
    /* left: -99999px; */
    /* margin-left: .1em; */
    background-color: rgba(5, 5, 5, .29);
    min-width: 55px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    white-space: nowrap;
    text-align: left;
    margin-top: -5px;
    transform: translate3d(0, 10px, 0);
    transition: left 0s .2s linear, transform 0s .2s linear, opacity .2s ease-out;


}

/* .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  } */
.dropdown-content span {
    color: rgba(255, 255, 255, .4);
    padding: 0px 18px 0px;
    text-decoration: none;
    display: block;
    transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: .14em;
    text-transform: uppercase;
}
.dropdown-content span:last-child{
    padding: 0px 18px 5px!important;
}

.dropdown-content span:hover {
    color:
        #fff;
}

.dropdown-content span:hover {
    color:
        #fff;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


.set-index-arrow img {
    height: 38px;
    margin-bottom: 5px
}

/* .nav-item a {
    text-decoration: none;
    color: #fff;
  }
  .nav-item a:hover {
    text-decoration: none;
    color: #fff;
  } */
.dropdown-content span a {
    color: rgba(255, 255, 255, .4);
}

/* star page
  .my-own-background-img{
      position:relative;
  }
  .background-img{
    /* position: absolute;
    top:-172px; */
/* width:100%;
  }
  .image-top-section{
      position: relative;
  }
  .truck-section{
      position: absolute;
      top:-180px; */

*/
/* .image-own-truck{
      width:100%;
  }
 .multipurpose-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .multipurpose-text-heading{
    text-align: center;
    white-space: pre-wrap;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .14em;
    line-height: 1.4em;
    text-transform: none;
    color:#fff;
  }

    /*video-section*/
/* .video-my-own {
    width: 100%;
    position: relative;
    top: 1000px;
}
  .oown-block-content .own-star-heading{
    hyphens: none;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    line-height: 1.4em;
  } */

.my-own-socialism:hover {
    color: rgba(255, 255, 255, .4);
}

.my-own-socialism li:hover {
    color: #fff
}

body .collapse.navbar-collapse {
    justify-content: flex-end
}

.collapse.navbar-collapse ul {
    color: #fff;
    display: flex;
    cursor: pointer;
}

.collapse.navbar-collapse ul:hover {
    color: rgba(255, 255, 255, .4);
    cursor: pointer;
}

.collapse.navbar-collapse li {
    list-style: none;
    cursor: pointer;
}

.collapse.navbar-collapse li:hover {
    color: #fff
}

.collapse.navbar-collapse a {
    cursor: pointer;
    color: #fff;
    text-decoration: none
}

/* .background-image{
    background: url('http://cdn.cn.neuronev.co/assets/images/background_short_ver.jpg');
    height:700vh;
    object-fit: contain;
    background-size: cover;
    position:relative;
    top:-179px;
} */
.truck-img {
    width: 100%;
    position: relative;
    top: -182px;
}

/* .star-versatile-container {
    position: relative;
    top: 340px;
} */

.multipurppose-text {
    position: relative;
    text-align: center;
    height: 100vh;
    align-content: center;
    display: block;
    color: #fff;
    text-align: center;
    line-height: 7;
    font-size: 40px;
    align-items: center;
    /* line-height: 56 !important; */
    font-size: 20px;
    /* margin-left: 24px; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}

/* .multipurpose-txt-center{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
} */
.newsletter-form-header {
    margin-top: 12px;
}

.experience-section {
    /* max-height: 0px; */
    /* margin-top: -200px; */
}

.versatile-image-section {
    width: 100%;
}

.another-versatile-top {
    padding-top: 6px;
}

.hidden-arrow {
    display: none !important;
    transform: translatex(-50%);
}

.star-root-container {
    /* background: url(http://cdn.cn.neuronev.co/assets/images/background_short_ver.jpg);
    background-size: cover;
    position: relative;
    top: -160px;
    background-position: center; */
    background: url('http://cdn.cn.neuronev/assets/images/star/background_short_ver.jpg');
    object-fit: contain;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}

.star-versatile-para {
    text-align: center;
    white-space: pre-wrap;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: .01em;
    line-height: 1.6em;
    text-transform: none;
    margin-top: -15px;
}

.border-top-h3 {
    width: 70%;
    margin: auto;

}

.star-section div {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    line-height: 1.4em;
    /* font-family: gill-sans-nova!important; */
}

.star-section {
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 250px; */
    padding-top: 255px;
    padding-bottom: 70px;
}
.experience-section {
    margin-top: -30px;
    /* max-height: 0px; */
    /* margin-top: -200px; */
}
.star-video {
    width: 100%;
    height: 100%;
}

.star-culture-section {
    position: relative;

}

/* .star-img-culture{
    width: 840px;
    height: 473px
} */
.star-img-culture {
    width: 100%;
}

.star-culture-text {
    color: #fff;
}

/* .star-culture-section{
    padding: 130px 90px 90px 120px !important;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
} */
.star-culture-heading {
    white-space: pre-wrap;
    color: #fff;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .14em;
    line-height: 1.4em;
    text-transform: none;
    margin-left: 21px;

}

.star-culture-text {
    position: relative;
    left: 16%;
    top: 150px;
}

/* .star-culture-img{
    position: absolute;
    left: 230px;
    top: 154px;
  
    
} */
.neuronev-ev {
    white-space: pre-wrap;
    color: #fff;
    margin-top: 15px;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: .01em;
    line-height: 1.6em;
    text-transform: none;
    margin-left: 10px;
}

.star-underline {
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    position: relative;
    top: 120px;
    width:calc(100% - 431px);
    margin: auto;
}

.MicroT_ext39 {
    width: 100%;
}
.star-versatile-heading.met-text-wrapper {
    padding-top: 200px;
    padding-bottom: 100px;
}
.star-versatile-heading {
    text-align: center;
    white-space: pre-wrap;
    color: #fff;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .14em;
    line-height: 1.4em;
    text-transform: none;
    /* padding-bottom: 30px; */
    /* font-family: gill-sans-nova!important; */
    /* padding-bottom: 30px; */
    padding: 40px 0px;
}

.star-commercial-container {
    position: relative;
    top: 430px;
}

.star-versatile-section {
    background: transparent;
}

.commercial {
    padding-top: 85px;
    width: 70%;
    margin: auto;
    margin-top: 56px;
}

.micro-section {
    position: relative;
    top: 450px;
}
.container-fluid.micro-section.met-micro-section {
    position: relative;
    top: 300px;
}
#footerSection {
    margin-top: 120px;
    /* position: relative; */
    /* top:120px; */
    width:100%;
}

.container-larger-img {
    margin-top: 28px;

}

.humanity-container {
    /* position: relative;
    top: 360px !important; */
}

.slides-image {
    display: none;
}

.sliding-images {
    margin-top: 15px;
    width: 100%;
    position: relative;
    /* -webkit-animation: anim-opacity-full 2s ease-out;
    animation: anim-opacity-full 2s ease-out; */
    height:880px;
}

.sliding-images img {
    width: 100%;
    margin: 0;
    /* -webkit-animation: anim-opacity-full 2s ease-in;
    animation: anim-opacity-full 2s ease-in; */
    /* -webkit-animation-duration: 2s;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;  */
    /* animation-name: fadeIn; */
}

.w3-content {
    max-width: initial !important;
}

.w3-content,
.w3-auto {
    margin: initial;
}

.truck-section-image {
    background-image: url("http://cdn.cn.neuronev.co/assets/images/star/2.jpg");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -161px;
    z-index: 0;
}

.row.star-microt-img {
    margin: 0px 10% 17% 20%;
    background: transparent;
    padding-bottom: 10%;
}

.animate-style {
    width: 200px;
}

.micot-img {
    width: 152px;
    height: 80px;
}

.image-container-star img {
    width: 100%;
    position: absolute;
    height: 730px;
}

.start-versatile-blank-section {
    padding-top: 160px;
    padding-bottom: 20px;

}

.map-mobility-images.container-fluid.tone-mobility-images.tone-wrapper{
    /* height: 660px; */
}

.dash-section {
    right: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    transform: translatez(0);
}

.Index-nav-item {
    display: block;
    position: relative;
    padding: 8px 0;
    background: transparent;
}

.Index-nav-indicator {
    background: rgba(255, 255, 255, .5);
}

.Index-nav-item::after {
    content: '';
    display: block;
    border-top: 1px solid white;
    /* background: yellow; */
}



.dash {
    border: 0.5px solid white;
    width: 25px;
}

.dash-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash-content-bottom {
    opacity: 0.5;
    position: fixed;
    z-index: 999;
    right: -22px;
}

.dash-content-top,
.dash-content-bottom {
    /* width: 23px; */
    cursor: pointer;
    /* border: 0.5px solid #fff; */
    margin: 10px;
}

.numeric-star-data {
    color: #fff;
    font-size: 12px;
    letter-spacing: .05em;
    font-weight: 400;
    display: none;
}

.numeric-star-data-bottom {
    color: #fff;
    font-size: 12px;
    letter-spacing: .05em;
    font-weight: 400;
    display: none;
    margin-right: 45px;
}

.onhover-dash {
    display: block;
}

/*   
  .dash-content-top:hover .numeric-block-content

  .dash-content-top:hover > .numeric-block-content
  {
      display:block;
  } */
/* .dash-content-top:hover .numeric-star-data {
    border-top: 1px solid #fff;
    width: 25px;
    margin-left: 3px;
    display:block;
} */
.dash-content-top:hover .numeric-star-data {
    background: red;
}

.slides-truck {
    display: none
}

.dash-section {
    position: fixed;
    /* background: yellow; */
    top: 51%;
    left: 98%;

}

.mini-truck {
    opacity: 0.5;
    cursor: pointer;
    padding: 0px !important;
}

.image-animation-content {
    display: none
}

.dash-section {
    position: fixed;
    /* background: yellow; */
    top: 51%;
    z-index: 1;
}



.dash-hover {
    display: block !important;
}

.star-video {
    pointer-events: all;
    top: 50%;
}



.zoom-in-truck {
    -webkit-animation-name: zoomIn;
    animation-name: zoom-in-truck;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes zoom-in-truck {
    /* 0% {
        transform: scale(1,1);
    } */
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1.2,1.2);
    }
}

.zoom-in-truck-2 {
    -webkit-animation-name: zoomIn;
    animation-name: slidein;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
     /* animation-iteration-count: infinite;  */

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@keyframes slidein {
    /* 0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    } */
    from {
        margin-left: 10%;
        width: 100%; 
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
}

/* @-webkit-keyframes zoom-in-truck-2 {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoom-in-truck-2 {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
} */


.slideInLeft-image {
    display: block !important;
    /* -webkit-animation-name: slideInLeft; */
    animation-name: slideout;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    /* animation-direction: reverse; */
    /* animation-iteration-count: infinite; */
}

 @keyframes slideout {
    from {
        margin-left: -10%;
        width: 100%; 
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
} 

@-webkit-keyframes slideInLeft-image {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideInLeft-image {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


.slideInRight-image {
    display: block !important;
    -webkit-animation-name: slidein;
    animation-name: slidein;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    /* animation-iteration-count: infinite; */

}

@-webkit-keyframes slideInRight-image {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideInRight-image {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.met-arrow-page {
    position: absolute;
    top: 49% !important;
    bottom: 0px !important;
}

.star-arrow-page {
    position: absolute;
    /* top:57%!important; */
    bottom: 0px !important;
}

/* Ebus */
.ebus-container {}

.ebus-first-section {
    position: relative;
    text-align: center;
    color: white;
    background-image: url("http://cdn.cn.neuronev.co/assets/images/ebus/N1.jpg");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -161px;
    z-index: 0;
}
.vision-video-background{
    position: relative;
    text-align: center;
    color: white;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -161px;
    z-index: 0;
}
.ebus-img {
    width: 100%;
    position: relative;
    top: -182px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: zoomIn;
}

.ebus-arrow-container {
    bottom: 0;
    position: absolute;
    left: 48%;
    cursor: pointer;
    z-index: 99999;
}

.ebus-image-heading {
    text-align: center;
    white-space: pre-wrap;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .14em;
    line-height: 1.4em;
    text-transform: none;
}

.arrow-image-container img {
    height: 35px;
    margin-bottom: 5px;
}

.ebus-heading {
    padding-top: 240px !important;
    padding-bottom: 135px;
    /* height: 250px; */
    text-align: center;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    hyphens: none;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    /* font-family: gill-sans-nova !important; */
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    letter-spacing: .2em;
    line-height: 1.4em;
}

.ebus-second-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 18% 18% 10% 18%;
}

.ebus-second-image-container {
    margin-right: 30px;
}

.ebus-second-section .ebus-second-image-container>img {
    width: 100%;
    height: 430px;
    /* -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: slideInLeft; */
}

.section-second-heading-container {
    margin-top: -15px;
}

.section-second-heading-container h1 {
    font-family: gill-sans-nova;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .14em;
    line-height: 1.4em;
    text-transform: none;
    color: #fff;
    white-space: pre-wrap;
    margin: .67em 0;
    text-rendering: optimizeLegibility;
}

.section-second-heading-container h3 {
    white-space: pre-wrap;
    color: #fff;
    margin-top: 15px;
    font-family: freight-sans-pro;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: .01em;
    line-height: 1.6em;
    text-transform: none;
    text-rendering: optimizeLegibility;
}

.ebus-border-bottom {
    margin: 0px 15%;
    box-sizing: border-box;
    width: 66.66000000000001%;
    margin-right: auto;
    margin-left: auto;
    clear: both;
    color: #0b0d0e;
    border-bottom: 1px solid grey;
}

.ebus-smart-powerfull {
    padding: 8% 20px 30px 20px;
}

.smart-heading {
    text-align: center;
    white-space: pre-wrap;
    color: #fff;
    /* font-family: gill-sans-nova; */
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .14em;
    line-height: 1.4em;
    text-transform: none;
    text-rendering: optimizeLegibility;
    padding: 0px 0px 60px 0px;
}

.ebus-smart-powerfull .image-block {
    padding-top: 15px;
}

.ebus-smart-powerfull .image-block>img {
    width: 100%;
    height: 100%;
}

.n4-image{
    width: 100%;
}
.ebus-smart-powerfull .n4-image {
    /* width: 100%;
    animation-name: zoomIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    padding: 2% 0px; */
}

.ebus-smart-powerfull p {
    white-space: pre-wrap;
    color: rgba(255, 255, 255, .8);
    word-wrap: break-word;
    clear: none;
    height: auto;
    padding: 5% 26% 7% 26%;
}

.side-byside-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0px 0px 0px 24px;
}

.side-byside-images .images-block {
    width: 50%;
}

/* .side-byside-images .side-byside-wrapper {
    margin-right: 5px;
} */
.side-byside-images img {
    width: 100%;
}
/* .side-byside-images .n7-image {
    animation-name: slideInLeft;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    width: 100%;
    height: 453px;
}

.side-byside-images .n5-image {
    animation-name: slideInRight;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    width: 100%;
    height: 453px;
} */
.side-byside-wrapper img {
    /* padding: 23px; */
    padding: 0px 15px;
}
.ebus-border-bottom-sidebyside {
    margin: 8% 15% 3% 15% !important;
}
.bottom-border{
    margin-bottom: 0% !important;
}

.smart-section {
    padding-top: 3%;
}

.b1copy-image {
    /* height: 741px; */
    /* padding-top: 3%; */
    width: 100%;
    /* animation-name: zoomIn; */
    /* -webkit-animation-duration: 2s; */
    /* animation-duration: 2s; */
    /* -webkit-animation-fill-mode: both; */
    /* animation-fill-mode: both; */
}

.smart-solution-para {
    font-family: freight-sans-pro;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: .01em;
    line-height: 1.6em;
    text-transform: none;
    color: #fff;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 20px 33% 5% 33%;
    text-rendering: optimizeLegibility;
    text-align: center;
}

.neuron-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.neuron-section-image-container {
    width: 50%;
}

.neuron-section-image-container>img {
    width: 100%;
    height: 720px;
}

.neuron-section-content {
    margin-top: 20%;
    width: 50%;
    padding-right: 35%;
}

.neuron-section-content>h1 {
    white-space: pre-wrap;
    margin-top: 0;
    font-family: gill-sans-nova;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .14em;
    line-height: 1.4em;
    text-transform: none;
    text-rendering: optimizeLegibility;
    color: #fff;
    margin: .67em 0;
}

.neuron-section-content>h3 {
    font-family: freight-sans-pro;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: .01em;
    line-height: 1.6em;
    margin-top: 15px;
    text-transform: none;
    color: #fff;
    white-space: pre-wrap;
}

.back-bus {
    padding: 10% 0px;
}

.future-section {
    padding: 0px 20px;
}

.future-section>img {
    /* height: 470px; */
    width: 100%;
    margin-top: 5%;
    margin-bottom: 8%;
}

.seating-chart-section {
    padding: 10% 0px;
}

.seating-chart-section>img {
    width: 100%;
    height: 100%;
    margin: 7% 0px;
}

.versatile-section {
    padding: 20px;
}

.versatile-images {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    width: 100%;
    height: 385px;
    padding:0px 35px 35px 0px;
}

.versital-left {
    animation-name: slideInLeft !important;
}

.versital-right {
    animation-name: slideInRight !important;
}

.slides-ebus-image {
    display: none;
}

.sliding-ebus-images {
    width: 100%;
    position: relative;
    height: 929px;
    padding: 0px 20px;
    padding-bottom: 166px;
}

.sliding-ebus-images img {
    width: 100%;
    height: 100%;
    margin: 0;
}

/* map section */

.parallax-image{
    background-image: url('http://cdn.cn.neuronev.co/assets/images/map/n_platform_top\ copy.jpg');
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -160px;
    z-index: 0;
}

.parallax-image-content {
    height: 100vh;
    color: #fff;
    align-content: center;
    display: block;
    color: #fff;
    text-align: center;
    line-height: 7;
    font-size: 40px;
    align-items: center;
    line-height: 56 !important;
    font-size: 20px;
    margin-left: 24px;
    position: relative;
}

.maps-arrow {
    position: absolute;
    top: 14%;
    left: 48%;
    cursor: pointer;
}
.hub-arrow{
    position: absolute;
    top: 14%;
    left: 48%;
    cursor: pointer;
}

.map-arrow img {
    width: 52px;
    height: 42px;
}

.mapping-section {
    /* height: 400px; */
    color: #fff;
    display: block;
    text-align: center;
    line-height: 7;
    font-size: 40px;
    z-index: 0;
}

.map-arrow {
    position: absolute;
    bottom: 10px
}

.map-video {
    padding: 0 35px !important;
    z-index: 0;
}
span#map-video {
    /* font-family: gill-sans-nova!important; */
}
.map-video video {
    width: 100%
}

.blank-section {
    height: 200px;
    z-index: 0;
}

.image-section-on {
    width: 100%
}

.map-culture-section {
    /* position: relative; */
    margin: 5% 0;
    z-index: 0;
    /* height: 500px; */

}

.map-culture-section img {
    /* position: absolute; */
    /* left: 14%; */
    width: 100%
}

.map-culture-img {
    text-align: end
}

.map-culture-content {
    /* position: absolute !important; */
    /* right: 7%; */
    color: #ffff;
}

.map-culture-content-heading {
    font-size: 22px;
    margin-bottom: 10px;
}

.map-culture-content-text {
    font-size: 12px;
}

.border-line-map {
    border: 0.5px solid #dddddd52;
    z-index: 0;
    width: 60%;
    margin: auto;
    margin-bottom: 10%;
}

.border-line-map-2 {
    border: 0.5px solid #dddddd52;
    margin: 7%;
    z-index: 0;
}
.border-map-sec{
    width: 65%;
    margin: auto;
    margin-top: 12% !important;
    margin-bottom: 10% !important;
    
}
.smart-purpose-container {
    text-align: center;
    color: #dddddd52;
}

.map-smart-heading {
    font-size: 20px;
    margin-bottom: 15px
}

.map-smart-content {
    font-size: 12px
}

.map-image-one {
    margin: 6% 0;
    z-index: 0;
}

.map-image-one img {
    width: 100%;
    margin: 2%
}

.map-image-two img {
    width: 100%;
    z-index: 0
}

.map-image-three img {
    width: 100%;
    z-index: 0
}

.section-divider-map {
    margin: 2% 0 5% 0;
    z-index: 0;
}

.section-divider-map img {
    width: 100%;
    padding-bottom: 30px    ;
}

.energy-creation-map {
    text-align: center;
    color: #dddddd52;
    line-height: 3;
    z-index: 0;
}

.map-energy-sub {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    left: -50px;
}

.zero-map-head {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.listing-energy {
    color: #ffffffcf;
    list-style-type: none;
    /* list-style-position: inside; */
    text-align: start;
}

.map-image-four img {
    width: 100%;
    z-index: 0;
    /* height: 100vh; */
}

.smart-mobility-text {
    text-align: center;
    font-size: 20px;
    color: #ffffffcf;
    z-index: 0;
    margin: 10% 0px;
}

/* .map-sliding-images {
    width: 100%;
    position: relative;
}
.map-sliding-images img {
    width: 100%;
    margin: 0;
} */
.map-slides-image {
    display: none;
}

.map-mobility-images {
    margin-top: 15%;
    z-index: 0;
}
.tone-map-mobility-images{
    margin-top: 10% !important;
}
.map-sliding-images img {
    /* height: 100%; */
    width: 100%;
    margin: 0;
    position: absolute
}

.map-sliding-images {
    height: 970px;
    width: 100%;
    position: relative;
    bottom: 100px;
}

.cursor-pointing {
    position: fixed;
    color: #fff;
    right: 10px;
    top: 50%;
    z-index: 99999;

}

.dash-container {
    display: flex;
    margin: 0 5px;
    cursor: pointer;
    padding: 5px;
    text-align: end;
    justify-content: flex-end;
    align-items: flex-end;
}

.dash-value {
    margin-top: -10px;
    /* padding-left: 2px; */
}

.map-dash {
    display: block;
    border: 0.5px solid;
    height: 1px;
    width: 25px;
    margin-left: 5px;
    background: #ffff;
    /* padding: 4px */
}

.first-val {
    visibility: hidden
}

.second-val {
    visibility: hidden;
}

.image-map-culture {
    -webkit-animation-name: image-map-culture;
    animation-name: image-map-culture;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    /* animation-iteration-count: infinite; */

}

@-webkit-keyframes image-map-culture {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes image-map-culture {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/* end map */

/* hub style */
.parallax-image-hub {
    background-image: url('http://cdn.cn.neuronev.co/assets/images/hub/hubback.jpg');
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -160px;
    z-index: 0;
}

.parallax-image-content-hub {
    height: 100vh;
    color: #fff;
    align-content: center;
    display: block;
    color: #fff;
    text-align: center;
    line-height: 7;
    font-size: 40px;
    align-items: center;
    line-height: 56 !important;
    font-size: 20px;
    margin-left: 24px;
    position: relative;
}

.mapping-section-hub {
    height: 450px;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 15;
    font-size: 40px;
    z-index: 0;
}

.hub-image-container-one img {
    width: 100%
}

.hub-culture-content-heading {
    font-size: 20px;
    color: #fff
}

.hub-culture-content-text {
    padding-right: 10px;
    margin-top: 10px;
    color: #fff;
    font-size: 13px
}

.border-line-hub {
    border: 0.5px solid #dddddd52;
    z-index: 0;
    margin: 15% 20% 7% 20%;
}

.hub-image-content {
    color: #fff;
    margin-bottom: 20px;
}

.hub-image-one img {
    width: 100%
}

.energy-creation-hub {
    margin-bottom: 7%
}

.hub-mobility-images {
    margin-bottom: 20%
}

.rep-image-section {
    height: 820px;
}

/*  */

/* rep style */
.parallax-image-rep {
    background-image: url('http://cdn.cn.neuronev.co/assets/images/rep/bus51-highres1.jpg');
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -160px;
    z-index: 0;
}

.parallax-image-content-rep {
    height: 100vh;
    color: #fff;
    align-content: center;
    display: block;
    color: #fff;
    text-align: center;
    /* line-height: 7; */
    font-size: 40px;
    align-items: center;
    line-height: 42 !important;
    font-size: 20px;
    margin-left: 24px;
    position: relative;
    display:flex;
    justify-content: center;
}

.rep-arrow {
    position: absolute;
    top: 51%;
    left: 48%;
    cursor: pointer;
}
.reps-wrapper {
    /* font-family: gill-sans-nova!important; */
}
.mapping-section-rep {
    height: 400px;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 3;
    /* line-height: 13; */
    font-size: 40px;
    z-index: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.rep-section-data {
    color: #fff;
    text-align: center;
    padding: 0 7%;
    margin: 2% 0 6% 0;
    font-size: 12px
}

.smart-rep {

    text-align: end;
    font-size: 20px;
}

.rep-con {
    color: #fff
}

.rep-container-2 {
    color: #fff;

    margin: 3% 0 5% 0;
    text-align: center;
    font-size: 12px
}

.rep-image-section img {
    width: 100%
}

.rep-content-section {
    color: #fff
}

.blank-section-rep {
    height: 20px;
    z-index: 0;
}

.env-content {
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.rep-image-one img {
    margin-top: 6%
}

.w3-content.w3-section.sliding-images.main-wrapper img {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.starvideo-wrapper {
    position: relative;
}

.starvideo-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hr-wrapper {
    border-top: 1px solid rgba(255, 255, 255, .8);
    padding-top: 130px;
    /* padding-bottom: 100px; */
    width: 70%;
    margin: auto;
}

.starvideo-wrapper {
    /* height: 780px; */
    z-index: 0;
    padding-bottom: 52.8125%;
    margin-bottom: 125px;
}

.met-image-wrapper {
    background-image: url('http://cdn.cn.neuronev.co/assets/images/1.jpg');
}

.star-culture-section .row {
    padding-top: 120px;
}

.commercial2 {
    border-top: 1px solid rgba(255, 255, 255, .8);
    padding-top: 200px;
    width: 70%;
    margin: auto;
    margin-top: 56px;
}
/* 
.met-text {
    line-height: 43 !important;
} */

.star-text-section, .met-text {
    line-height: 39 !important;
}

.star-culture-section .row {
    padding-top: 15px;
}

/* .star-versatile-container {
    position: relative;
    top: 260px;
} */

.star-commercial-container {
    position: relative;
    top: 235px;
}
.star-commercial-container.met-commercial-wrapper {
    position: relative;
    top: 100px;
}
.star-Micro39 {
    padding-top: 90px;
}

.hub-video-wrapper{
    height: 800px;
}

.star-both-images {
    top: 400px !important;
}

.star-multiple-images {
    top: 400px !important;
}

.w3-section {
    margin-top: 50px;
}

.row.star-microt-img {
    /* margin-top: -15%; */
    position: relative;
    /* bottom: 80px; */
    bottom: 116px;
}


.hub-slide-in {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.hub-slide-in-3 {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    /* animation-iteration-count: infinite */

}

.hub-slide-in-2 {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


.img-container {
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100vw;
}

.img-container img {
    height: 100%;
    left: 0;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.img-container img.next {
    opacity: 1;
    z-index: 1;
}

.img-container img.prev {
    opacity: 1;
    z-index: 2;
}

.img-container img.fade-out {
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
    visibility: hidden;
}


/* tone css */

.tone-head {
    text-align: center;
    font-size: 40px;
    color: #fff;
    margin: 6% 0 0 0;
    /* font-family: gill-sans-nova!important; */
    letter-spacing: .2em;
}

.tone-video {
    margin-top: 20px;
}

.tone-video-contain {
    height: 800px;
    width: 100%;
    padding: 0 5px 0 35px;
}

.tone-gallery {
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin: 7% 0 5% 0;
    /* font-family: gill-sans-nova!important; */
}

.tone-video img {
    width: 100%;
    height: 100%;
}

.tone-images {
    color: #fff;
    margin: 5% 0 2% 0;
    font-size: 12px;
}

.tone-images img {
    width: 100%
}

.tone-modular {
    text-align: center;
    margin: 4% 0;
    color: #fff;
    font-size: 20px;
    /* font-family: gill-sans-nova!important; */
}

.tone-mobility-images img {
    width: 100%;
    /* height: 100%; */

}

.tone-mobility-images {
    margin-bottom: 10%;
    position: relative;
}
.tone-unique-img{
    margin-bottom: 3%;

}
.tone-image-section {
    height: 790px;
}

.tone-slides-image {
    display: none;
}

.tone-slides-images {
    display: none;
}


.tone-image-names {
    position: absolute;
    color: #fff;
    bottom: 10px;
    margin-left: 15px;
    font-size: 20px;
}

.tone-passenger {
    text-align: center;
    font-size: 18px;
    margin: 4% 0 6% 0;
    color: #fff;
    /* font-family: gill-sans-nova!important; */
}

.tone-4-passenger {
    text-align: center;
    font-size: 18px;
    margin: 2% 0 5% 0;
    color: #fff;
    /* font-family: gill-sans-nova!important; */
}

.seat-option-tone {
    text-align: center;
    font-size: 20px;
    margin: 4% 0 2% 0;
    color: #fff;
    /* font-family: gill-sans-nova!important; */
}

.seat-images img {
    width: 100%
}

.text-align-seat {
    text-align: center;
    color: #fff
}

.interior-light-tone {
    font-size: 40px;
    text-align: center;
    font-size: 20px;
    margin: 7% 0 2% 0;
    color: #fff;
    /* margin: 0 0 5% 0; */
}
.tone-line{
    margin: 0 0 3% 0;

}
.tone-tyre{
    margin: 0px !important;
}
.tone-slides-images {
    width: 100%;
    height: 100%;
}

.star-bottom-slides {
    margin-bottom: 0px !important;
}

.star-slides {
    margin-bottom: 10% !important;
}

.met-arrow {
    bottom: 0px !important
}

.met-second-section {
    padding-top: 160px !important;
}

.met-border {
    top: 45px;
    margin-right: -120px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    /* position: relative;
    top: 47px; */
    padding-top: 46px;
    width:100%;
    margin: auto;
}

.met-versatile-container {
    top: 200px !important;
}
.w3-content.w3-section.map-sliding-images {
    /* padding-top: 109px; */
}

@media (max-width: 767px) {
.press-images-wrapper{
        width: 100%!important;
}
.press-images-envintro{
    width: 100%!important;
}
.press-page {
    padding: 10px 8% 20%!important;
    font-size: 18px;
}
.tone-head{
    font-size: 28px!important;
}
.leather-wrapper li {
    width: 50%!important;
}
.vision-wrapper {
    height: 191px!important;
}
.vision-content {
    height:0px!important;
    padding-top: 30px;
    position: relative;
    top: 36px;
    margin: 0px 24px;
}
.responsive-wrapper{
    display:block!important;
}
.without-resheader{
    display: none !important;
    pointer-events: all;
    background-color: transparent !important;
}
.header-section{
    display:none!important;
}
.secnd-nav-wrapper{
    display:block!important;
}
.image-container-star img{
    height: auto !important;
}
.met-parallax-img-wrapper.parallax::after{
    height: 2753px !important;
    top: 520px!important;
}
.met-border{
    top: 255px!important;
}
.map-parallax-img-wrapper.parallax::after{
    height: 3477px!important;
}
.contact-conatiner{
    padding: 10% 3% !important;
}
.tone-modular{
    margin: 19% 0!important;
}
.tone-gallery{
    margin: 33% 0 27% 0!important;
}
.promotion-wrapper{
    padding-top: 10% !important; 
}
.faq-section{
    padding-top: 17% !important;
    padding: 17% 3.5%!important;
}
.press-content ul {
    color: #fff;
    padding-inline-start: 17px;
}
.pressone-heading h2{
    font-size: 28px!important;
}
.pressone-heading {
    padding: 17% 3% 25px 4%!important;
}
.press-wrapper{
    padding-top: 15% !important;
}
.data-ev {
    display:block!important;
}
.sliding-images.mt-60 {
    margin-top: 116px!important;
}
.row.tone-video.tone-video-contain.tone-image {
    height: auto!important;
}
.tone-video-contain {
    height: 200px!important;
    margin-bottom: 50px!important;
}
.tone-head{
    margin: 50% 0 0 0!important;
}
.mapping-section-hub {
    height: 209px!important;
    line-height: 6!important;
    font-size: 28px!important;
    z-index: 0;
}
.tone-image-section-1{
    height:400px!important;
}
.ev-sidebar-wrapper{
    display:block!important;
}
.reverse-sidebar-wrapper{
    display:block!important;
}
.info-sidebar-wrapper{
    display:block!important;
}
.press-sidebar-wrapper{
    display:block!important;
}
.faq-section h2{
    font-size: 28px!important;
}
.torq-image{
    height: 178px!important;
}
div#slideShows1{
    margin-top: 110px!important;
}
.promotion-wrapper h2, .press-wrapper h2{
    font-size: 28px!important;
    margin-top: 35px!important;
}
.contact-conatiner.mt-30 {
    padding: 19% 26px 0px!important;
}
.star-parallax-img-wrapper.parallax::after{
    height: 4375px!important;
}
.hub-video-wrapper{
    height:193px!important;
}
.map-video.container-fluid .row img{
    width: 100%!important;
}
.rep-image-one.container-fluid img {
    width: 100%!important;
}
.rep-image-section {
    height: 240px!important;
}
.rep-parallax-img-wrapper.parallax::after{
    height: 2394px!important;
    top: 460px!important;
}
.image-container-tone img {
    left: 0px!important;
    top: 0px;
    width: 100%!important;
    height: auto!important;
    position: relative;
}
.image-container-star {
    height: 430px!important;
}
.image-container-star.container-larger-img.w3-content.w3-section.all{
    height: 36vh!important;
}
#slideShows1{
    height: 36vh!important;

}
.row.star-microt-img {
    margin: 0px;
    position: relative;
    top: -98px!important;
}
.slide-img {
    padding-left: 17px!important;
    padding-right: 17px!important;
}
.truck-section-image{
    margin-top: 0px!important;
}
.star-parallax-img-wrapper.parallax::after {
    top: 494px!important;
    height: 2720px!important;
}
.star-section {
    padding-bottom: 49px!important;
    padding-top: 116px!important;
}
.star-section div{
    font-size:28px!important;
}
.star-culture-heading{
    padding: 20px 0px!important;
    margin-left: 10px!important;
}
.star-underline{
    width: 100%!important;
}
.row.star-microt-img{
    padding-bottom: 19%;
}
.ebus-first-section{
    margin-top: 0px!important;
}
.ebus-image-heading{
    bottom: 31%!important;
}
.star-video{
    margin-bottom: 107px;
}
.ebus-second-image-container{
    margin-bottom: 50px;
}
.ebus-border-bottom {
    margin: 113px 15%!important;
    width: 88%;
    position: relative;
    right: 33px;
}
.parallax-image-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ebus-smart-powerfull p{
    text-align: center!important;
    padding: 0px 4px!important;
    margin: 37px 0px;
}
.parallax-image{
    margin-top: 0px!important;
}
.parallax-image-hub{
    margin-top: 0px!important;
}
.parallax-image-rep{
    margin-top: 0px!important;
}
.rep-arrow{
    top: 52%!important;
    left: 42%!important;
}
.maps-arrow{
    top: 30%!important;
    left: 43%!important;
}
.map-sliding-images {
    height: 215px!important;
}
.hub-arrow{
    top: 30%!important;
    left: 43%!important;
}
.map-culture-section img {
    width: 100%;
    padding-bottom: 28px!important;
}
.col-sm-8.hub-image-container-one {
    padding-bottom: 28px;
}
.border-line-hub {
    margin: 25% 20% 25% 20%!important;
}
.hub-image-one.container-fluid{
    margin: 37px 0px!important;
}
.border-line-hub {
    border: 0.5px solid #dddddd52;
    z-index: 0;
    width: 85%!important;
    position: relative;
    margin: 15% 20% 7% 20%;
    right: 45px!important;
}
.map-energy-sub{
left: -20px!important;
font-size: 21px!important;
}
.listing-energy {
    margin-left: 61px!important;
}
.map-parallax-img-wrapper.parallax::after{
    top: 498px!important;
}
.neuron-section , .ebus-second-section{
    flex-wrap: wrap!important;
}
.neuron-section-image-container{
    width: 100%!important;
}
.neuron-section-content {
    margin-top: 10%;
    width: 100%;
    padding: 22px!important;
}
.ebus-heading {
    padding-top: 97px !important;
    padding-bottom: 70px!important;
    font-size: 28px;
}
.map-video{
    padding: 0px 15px!important;
}
.ebus-second-section{
    padding: 150px 15px 15px!important;
}
.ebus-second-image-container{
    margin-right: 0px;
}
.ebus-second-section .ebus-second-image-container>img{
    height: 100%!important;
}
.side-byside-images{
    flex-wrap: wrap;
}
.side-byside-wrapper {
    margin-bottom: 27px;
}
.future-section>img {
        height: auto!important;
        width: 100%;
        margin-top: 19%!important;
        margin-bottom: 4%!important;
}
.side-byside-images .images-block {
    width: 100%;
}
.last-ebus-border {
    margin: 15% 15% 17% 15% !important;
}
.ebus-parallax-img-wrapper.parallax::after {
    top: 1344px!important;
    height: 5480px!important;
}
.col-sm-12.rep-container-2 {
    padding-top: 78px;
}
.rep-section-data{
    margin: 8% 0 6% 0%!important;
}
.smart-rep{
    padding-bottom: 20px;
}
.vision-wrapper.mt-60 {
    margin-top: 74px;
}
.vision-content {
    padding-bottom: 30px;
}
.top-logo img {
    width: 100%!important;
}
.starvideo-wrapper.vision-video {
    margin-top: 46px!important;
}
.promotion-content-wrapper{
    padding: 0px 17px!important;
}
.map-sliding-images img{
    height: 300px!important;
}
.interior-light-tone{
    margin: 30% 0 34% 0!important;
}
.interior-light-tone.torq-text-wrapper {
    margin: 30% 0 11% 0!important;
}
.map-sliding-images.tone-image-section-2{
    /* margin-bottom: 130px!important; */
}
.map-image-three img{
    margin-bottom: 25px;
}
.w3-content.w3-section.map-sliding-images{
    padding-top: 121px!important;
}
span.map-text-wrapper {
    font-size: 28px;
}
.reps-wrapper {
    font-size: 28px;
}
.rep-sec-bottom{
    padding-bottom: 0px!important;
}
.rep-image-one img{
    margin-top: 25%;
}
.rep-content-section {
    padding-bottom: 93px;
}
.rep-container-2{
    margin: 3% 0 14% 0!important;
}
.hub-image-container-one img{
    /* height: 240px!important; */
}
.starvideo-wrapper{
    margin-bottom: 90px!important;
}
.press-img img{
    height: auto !important;
}
body .yui3-calendar-row td{
    width: 40px !important;
    height: 40px !important;
    color: #7c7d7e !important;
    background: transparent !important;
}
body .yui3-u.yui3-calendar-header-label{
    color: #d0d7dede !important;
    font-size: 20px !important;
    line-height: 50px !important;

}
.vision-video-background{
    margin-top: 0px!important;
}
.map-mobility-images.container-fluid.tone-mobility-images.tone-wrapper {
    /* height: 321px!important; */
}
.experience-another-heading{
    font-size: 13px!important;
}

.icon-values-tyre{
    display: none;
}
}


@media (min-width: 768px){
   .responsive-wrapper{
       display:none!important;
   }
   .data-ev {
    display: none;
}
.ev-sidebar-wrapper{
    display:none!important;
}
.reverse-sidebar-wrapper{
    display:none!important;
}
.info-sidebar-wrapper{
    display:none!important;
}
.press-sidebar-wrapper{
    display:none!important;
}
/* .video-all-wrap {
    margin-top: 0px;
} */
}

@media (max-width: 768px) {
    .block-section {
        width: 100%;
    }

    .image-container-star.star-bottom-slides {
        height: 240px;
    }

    .image-container-star {
        height: 300px;
    }

    .starvideo-wrapper {
        height: 287px;
    }

    .star-section {
        padding-top: 100px;
    }

    .side-byside-images .n5-image {
        height: 100%;
    }

    .side-byside-images .n7-image {
        height: 100%;
    }

    .b1copy-image {
        height: 100%;
    }

    .ebus-second-section .ebus-second-image-container>img {
        width: 100%;
        height: 263px;
    }

    .neuron-section-image-container>img {
        height: 100%;
    }

    .versatile-images {
        height: 100%;
    }

    .sliding-ebus-images {
        height: 100%;
    }
  
    .map-culture-section img {
        width: 100%;
        padding-bottom: 15px;
    }
    .w3-content.w3-section.map-sliding-images {
        /* padding-top: 121px; */
    }
    .row.star-microt-img.star-slides {
        position: relative!important;
        top:-119px!important;
        right: -41px!important;
    }
    .video-all-wrap {
        margin-top: 0px;
    }
}
@media (min-width: 768px) and (max-width:1024px) {
    .image-container-star {
        height: 745px;
    }

    .image-container-star.star-bottom-slides {
        height: 683px;
    }
    /* #slideshow {
        height: 42vh!important;
    } */
    #slideShows1{
        height: 60vh!important;

    }
    .image-container-tone img {
        opacity: 1;
        left: 0!important;
        top: 0px;
        width: 100%!important;
        height: auto!important;
        position: relative;
    }
body .yui3-calendar-row td{
        width: 100px !important;
        height: 100px !important;
        color: #ffffffb5 !important;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    .map-parallax-img-wrapper.parallax::after{
        height: 3400px!important;
    }
    .leather-wrapper li {
        width: 33.33%!important;
    }
    .vision-content {
        height:0px!important;
        padding-top: 0px!important;
    }
    .vision-wrapper {
        height: 481px!important;
    }
    .map-sliding-images{
        height: 550px;
    } 
    .map-mobility-images.container-fluid.tone-mobility-images.tone-wrapper {
        height: 493px;
    }
    .tone-video-contain img{
        height:500px!important;
    }
    #slideshow {
        height: 42vh!important;
    }
    .slide-img{
        padding-left: 17px!important;
        padding-right: 17px!important;
    }
    .star-section {
        padding-bottom: 86px !important;
        padding-top: 132px!important;
    }
    .starvideo-wrapper {
        height: 383.3px!important;
    }
    .star-parallax-img-wrapper.parallax::after {
        top: -34px!important;
        height: 3970px!important;
    }
    .star-underline {
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        position: relative;
        top: 120px;
        width: calc(100% - 189px)!important;
        margin: auto!important;
    }
    .image-container-star img {
        height:auto!important;
    }
    .image-container-star {
        position: relative;
        height:482px!important;
    }
    .row.star-microt-img {
        padding-bottom: 25%!important;
    }
    .row.star-microt-img.star-slides {
        top: 0!important;
        display: flex!important;
        justify-content: center!important;
    }
    .met-border{
        right: 26px!important;
        width: 120%!important;
    }
    .met-parallax-img-wrapper.parallax::after{
        top: 0!important;
        height: 4000px!important;
    }
    .map-parallax-img-wrapper.parallax::after {
        height:4780px!important;
    }
    .map-energy-sub{
        left: 15px!important;
    }
    .maps-arrow{
        top:44%
    }
    .hub-arrow{
        top:44%
    }
    .ebus-image-heading{
        bottom: 30%!important;
    }
    .ebus-arrow-container{
        bottom: 9px!important;
        left: 46%!important;
    }
    .ebus-heading{
        padding-top: 137px !important;
        padding-bottom: 79px!important;
    }
    .ebus-second-section{
        padding-bottom: 15%!important;
    }
    .smart-heading{
        padding: 23px 0px 15px 0px!important;
    }
    .ebus-smart-powerfull p{
        text-align: center!important;
    } 
    .ebus-smart-powerfull .n4-image {
        margin: 19px 0px!important;
    }   
    .ebus-border-bottom-sidebyside{
        margin: 14% 15% 10% 15% !important;
    }
    .neuron-section-image-container>img{
        height: 430px!important;
    }
    .ebus-parallax-img-wrapper.parallax::after{
        height: 6500px!important;
        top: 1480px !important;
    }
    .ebus-smart-powerfull .ebus-smart-powerfull {
        margin-bottom: 18px;
    }
    .rep-arrow{
        top:62%!important;
    }
    .col-sm-12.rep-container-2 {
        padding-top: 75px;
    }
    .rep-image-section {
        height: 484px!important;
    }
    .rep-parallax-img-wrapper.parallax::after{
        top: -402px!important;
        height: 3557px!important;
    }
    .top-logo img {
        width: 100%!important;
    }
    .video-all-wrap {
        margin-top: -161px;
    }   
    img.tone-slides-image{
        height: 400px!important;
    }
    [data-aos^=zoom][data-aos^=zoom].aos-animate{
        opacity: 1 !important;
    }
    body .MicroT_ext39 {
        opacity: 1 !important;
        transform: translateZ(0) scale(1) !important;
    }
    body.MicroT_ext38{
        opacity: 1 !important;
        transform: translateZ(0) scale(1) !important;
    }
    .hub-video-wrapper{
        z-index: 1 !important;
    }
    .mapping-section-hub{
        z-index: 1 !important;
    }
    #zoom-in-val-2-met,#rep-image-one,#rep-image-two, #newly-id,#rep-image-three, #zoom-in-ebus-8,#image-map-c1,#map-image-1,#map-image-2,#map-image-4,#map-image-5,#map-image-6,#image-map-c1,#image-hub-h1,#image-hub-h2,#hub-section-one,#hub-section-two,#map-image-6, #zoom-in-ebus-1, #zoom-in-ebus-2, #ebus-left-image-slide, #ebus-right-image-slide, #zoom-in-ebus-4, #zoom-in-ebus-6, #ebus-col-1, #ebus-col-2, #ebus-col-3, #ebus-col-4, #ebus-col-5, #ebus-col-6 {
        opacity: 1 !important;
        transform: translateZ(0)!important;
    }
    [data-aos^=fade][data-aos^=fade].aos-animate {
        opacity: 1!important;
        transform: translateZ(0)!important;
    }
    iframe, .star-section, #star-section, #ebus-heading, .map-video .ebus-second-section, #ebus-heading ,.ebus-second-section , .mapping-section.map-head,#sub-frame-error,.mapping-section-rep{
        z-index: 1 ;
    }

}
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .map-parallax-img-wrapper.parallax::after{
        height: 5600px!important;
    }
    .leather-wrapper img {
        width: 129px!important;
        height: 85px!important;
        /* padding: 0 7px; */
    }
    .vision-content {
        height: 0px!important;
        padding-top:0px!important;
        margin-top: 70px;
    }
    .vision-wrapper {
        height: 540px!important;
        padding: 0 16px !important;
    }
    .tone-video-contain{
        height: 650px!important;
    }
    .tone-video-contain img{
        height:600px!important;
    }
    .tone-head{
        position: relative;
        top: 0px!important;
        margin: 0 0 0 0!important;
    }
    #slideshow {
        height: 40vh!important;
    }
    .slide-img {
        padding-left: 17px!important;
        padding-right: 17px!important;
    }
    .star-parallax-img-wrapper.parallax::after {
        top: -300px!important;
        height: 5059px!important;
    }
    .row.star-microt-img {
        padding-bottom: 23%!important;
    }
    .row.star-microt-img {
        position: relative;
        bottom: 0px!important;
        display: flex!important;
        justify-content: center!important;
    }
    .met-parallax-img-wrapper.parallax::after{
        top: -411px!important;
        height: 5352px!important;
    }
    .met-border{
        top: 50px!important;
        width: 111%!important;
    }
    .parallax-image-content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .maps-arrow{
        top: 58%!important;
    }
    .hub-arrow{
        top: 58%!important;
    }
    .border-map-sec {
        margin-top: 16% !important;
        margin-bottom: 15% !important;
    }
    .map-energy-sub{
        left: -11px!important;
    }
    .ebus-image-heading{
        bottom: 35%!important;
    }
    .ebus-arrow-container{
        bottom: 16px!important;
        left: 47%!important;
    }
    .ebus-parallax-img-wrapper.parallax::after{
        top:1493px!important;
        height: 7981px!important;
    }
    .ebus-second-section .ebus-second-image-container>img{
        /* height: 329px!important; */
    }
    .ebus-second-section{
        padding: 18% 18% 14% 18%!important;
    }
    .b1copy-image{
        /* height: 570px!important; */
    }
    .rep-arrow{
        top: 71%!important;
    }
    .rep-container-2 {
        padding: 28px 15%!important;
    }
    .rep-content-bottom {
        margin-top: 6% !important;
        margin-bottom: 5% !important;
    }
    .rep-image-section {
        height: 600px!important;
    }
    .rep-parallax-img-wrapper.parallax::after{
        top: -800px!important;
        height: 4587px!important;
    }
    .top-logo img {
        width: 100%!important;
    }
    .video-all-wrap{
        margin-top: -161px!important;
    }
    .commercial2{
        margin-top: 336px;
    }
}
@media (min-width:1250px){
    .met-parallax-img-wrapper.parallax::after{
        height:6637px!important;
        top: -872px!important
    }
}
@media (min-width:1301px) and (max-width: 1366px){
    .ebus-parallax-img-wrapper.parallax::after{
        height: 8847px!important;
    }
    .star-parallax-img-wrapper.parallax::after{
        height: 6543px!important;
    }
    .map-parallax-img-wrapper.parallax::after{
        height: 6948px!important;
    }
    .rep-parallax-img-wrapper.parallax::after{
        height:5591px!important;
    }
    .met-parallax-img-wrapper.parallax::after {
        height: 6512px!important;
        top: -872px!important;
    }
}
@media (min-width:1024px) and (max-width:1366px){
    body .yui3-calendar-row td{
    width: 136px !important;
    height: 136px !important;
    }
}

@media (max-width:320px){
.ebus-parallax-img-wrapper.parallax::after{
    height: 5400px!important;
}
.press-page a{
    font-size: 18px!important;
}
.hub-video-wrapper{
    height: 163px!important;
}
.experience-another-heading {
    font-size: 12px!important;
}
}
@media (max-width:414px){
    .met-versatile-container{
        top:133px !important;
    }
    .star-versatile-heading{
        padding: 53px 0px 115px 0px!important;
    }
    .micro-section {
        position: relative;
        top: 300px!important;
    }
    .row.star-microt-img{
        margin: 53px 0px 0px 0px!important;
        padding-bottom: 28%!important;
        
    }
    .row.star-microt-img.star-slides {
        position: relative!important;
        top: -90px!important;
        right: -41px!important;
    }
    .start-versatile-blank-section {
        padding-top: 97px;
    }
    h3.star-versatile-heading.commercial2{
        padding-top: 110px!important;
    }
    .set-index-arrow{
        left: 40%;
    }
    .map-sliding-images img{
        height: 240px!important;
    }
    .map-parallax-img-wrapper.parallax::after {
        height: 2948px!important;
    }
    .map-parallax-img-wrapper.parallax::after {
        height: 2802px!important;
    }
    .video-all-wrap {
        margin-top: 0px;
    }
}

/* Vision social tech*/
.vision-video {
    height: 715px;
}

.vision-content {
    height: 150px;
    background-color: #0b0d0e;
    padding-top: 20px;
}

.vision-content h1 {
    font-family: gill-sans-nova;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .14em;
    line-height: 1.4em;
    text-transform: none;
    text-align: center;
    white-space: pre-wrap;
    color: #fff;
}

/* promotion  legal */
.promotion-wrapper {
    width: 100%;
    margin-bottom: 12%;
    margin-top: 8%;
}

.promotion-wrapper h2,
.press-wrapper h2 {
    text-align: center;
    color: #fff;
    text-align: center;
    white-space: pre-wrap;
    font-family: gill-sans-nova;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    letter-spacing: .2em;
    line-height: 1.4em;
    text-transform: none;
    text-rendering: optimizeLegibility;
}

.promotion-content-wrapper {
    width: 100%;
    padding: 0px 25%;
    color: #fff;
}

.promotion-content-wrapper p {
    word-wrap: break-word;
    font-weight: bold;
    white-space: pre-wrap;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .01em;
    line-height: 1.5em;
    text-transform: none;
    font-family: Asap;
    color: rgba(255, 255, 255, .75);
}

.promotion-content-wrapper .first-child {
    color: rgb(194, 195, 195);
    font-size: 20px;
    padding-bottom: 15px;
}

.promotion-link {
    color: #0057b9;
}

.promotion-link:hover {
    color: rgba(41, 109, 255, .48);
}

.promotion-social-icons {
    padding: 5% 0px;
}

.promotion-social-icons ul {
    color: #222222;
}

.promotion-social-icons ul:hover {
    color: #151617
}

.promotion-social-icons ul li {
    font-size: 20px;
}

.promotion-social-icons ul li:hover {
    color: gray;
}

.promotion-content-wrapper h4 {
    margin-bottom: 20px;
}

/* Press */
.press-wrapper {
    width: 100%;
    margin-bottom: 6%;
    margin-top: 0px;
    /* padding-top: 10%; */
}

.press-img {
    padding: 0px 15px;
}

.press-img img {
    height: 850px;
}

.press-content {
    padding: 10%;
    padding-top: 8%;
}

.press-content p {
    font-family: Asap;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .01em;
    line-height: 1.5em;
    text-transform: none;
    color: rgba(255, 255, 255, .75);
}

.press-content ul li p {
    margin-bottom: 5px !important;
    font-size: 20px;
}

.press-content ul li a {
    color: rgba(41, 109, 255, .8);
    text-decoration: none;
    border-bottom: 1px solid rgba(41,109,255,.24);
}

.press-content ul li a:hover {
    color: rgba(41,109,255,.48);
    border-bottom-color: red;
    border-bottom: 1px solid rgba(41,109,255,.24);
    list-style: none;
    text-decoration: none;
}

.press-content ul {
    color: #fff;
}

/* Contact */
.contact-conatiner {
    padding: 0px 18%;
}

.contact-title h2,
.contact-form-container h1 {
    font-family: gill-sans-nova;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    letter-spacing: .2em;
    line-height: 1.4em;
    text-transform: none;
    white-space: pre-wrap;
    color: rgba(255, 255, 255, .8);
}

.contact-form-container h1 {
    font-size: 20px;
    margin: 25px 0px;
}

.contact-title {
    padding: 6% 0px;
}

.contact-form-container {}

.contact-form-wrapper {}

.form-wrapper {
    padding: 10px 0px;
}

.label-wrapper {}

.input-wrapper {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #e99292; */
}

.error-conatiner {
    position: relative;
    border-radius: 2px;
    background: #cc3b3b;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    line-height: 23px;
    margin: 12px 12px 12px 0px;
    padding: 5px 15px 3px 25px;
}

.cross-icon {
    position: absolute;
    left: 0px;
    align-items: center;
    text-align: center;
    margin: 5px 3px 3px 8px;
    font-size: 11px;
}

.label-wrapper {
    font-family: Asap;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .01em;
    line-height: 1.5em;
    text-transform: none;
    color: #fff;
}

.with-label {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    color: white;
    font-size: 10px;
}

.input-wrapper input {
    padding: 12px;
    /* margin: 6px 20px 40px 0px; */
    border: 1px solid #ccc;
    background: #fafafa;
    color: #000;
    font-family: sans-serif;
    font-size: 12px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
    width: 50%;
    margin: 0px 15px 20px 0px;
}

.input-wrapper .with-label input {
    padding: 12px;
    /* margin: 6px 20px 40px 0px; */
    border: 1px solid #ccc;
    background: #fafafa;
    color: #000;
    font-family: sans-serif;
    font-size: 12px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
    width: 50%;
    /* margin: 0px 15px 20px 0px; */
}

.with-label input,
.with-label {
    width: 100% !important;
}

.input-fullName {
    margin-right: 0px !important;
}

.email-input {
    width: 100% !important;
    margin-right: 0px !important;
}

.full-input {
    width: 100% !important;
    margin: 0px !important;
}

.press-img img {
    width: 100%
}

.rep-container-section .rep-arrow img {
    width: 100%;
    padding-bottom: 100px;
}

.tone-mobility-images-1 img {
    width: 100%;
    /* height: 100%; */
 
}
.tone-mobility-images-1 {
    margin-bottom: 4%;
    position: relative;
}
.tone-image-section-1 {
    /* height: 790px;  */
}
.tone-slides-image-1 {display:none;}
.tone-slides-images-1 {display:none;}


.tone-image-names-1{
    position: absolute;
    color: #fff;
    bottom: 10px;
    margin-left: 15px;
    font-size: 20px;
}

.tone-mobility-images-2 img {
    width: 100%;
    /* height: 100%; */
 
}
.tone-mobility-images-2 {
    margin-bottom: 4%;
    position: relative;
}
.tone-image-section-2 {
    /* height:auto!important;  */
}
.tone-slides-image-2 {display:none;}
.tone-slides-images-2 {display:none;}
.tone-tyre-uper{
    margin-bottom: 0px !important;
}

.tone-lower-sec{
    margin-top: 5% !important;
}
.tone-image-names-2{
    position: absolute;
    color: #fff;
    bottom: 10px;
    margin-left: 15px;
    font-size: 20px;
}
.leather-wrapper {
    list-style: none;
    display: flex;
    color: #fff;
    padding: 0px;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.leather-wrapper img {
        width: 100%;
        height: 111px;
        padding: 5px 7px;
    }
.leather-wrapper li{
    width: 14.285714285714286%;
}
.leather-wrapper-img {
    /* margin-bottom: 10px */
}
.name-section {
    margin-bottom: 10px !important;
    ;
}

.first-input {
    margin-right: 20px !important;
    margin-bottom: 0px !important;
}

.button-wrapper button {
    border: 2px solid white;
    padding: 5px 35px;
    background-color: transparent;
    transition: 0.1s background-color linear, 0.1s color linear;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    font-family: Asap;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button-wrapper button:hover {
    color: #000;
    background-color: #fff;
    cursor: pointer;
}
.button-wrapper.reserve{
    text-align: center
}

.wrapper-select {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.vision-video{
    height: 595px !important;
    width: 100% !important;
}

.star-main-wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
  }

  .star-parallax-img-wrapper {

    position: relative;
    /* height: 100vh; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
  }

  .bg1::after {
background: url('https://images.squarespace-cdn.com/content/v1/5d51e5f5c1ab400001473954/1569955323942-PRHQ1DX0VXG3825KS99V/ke17ZwdGBToddI8pDm48kKQ_yA7t8ntRqEFYXDslzh4p-pTsQ9q6vcfATh4zoMvf-74I9FafmeSplBXI_NhjNACvjvxRDOQvYnFbaJd85oh75n5hQOsnYPWZCBGHRzfSwDZG9NssbNiuKOI1m91vHnj1nVWs2aaTtWBneO2WM-s4Por2zdqo1QHibUmU0_EOJnpmi_BynTvKB6BhCaz_ig/background_short_ver.jpg?format=2500w');
-webkit-background: url('https://images.squarespace-cdn.com/content/v1/5d51e5f5c1ab400001473954/1569955323942-PRHQ1DX0VXG3825KS99V/ke17ZwdGBToddI8pDm48kKQ_yA7t8ntRqEFYXDslzh4p-pTsQ9q6vcfATh4zoMvf-74I9FafmeSplBXI_NhjNACvjvxRDOQvYnFbaJd85oh75n5hQOsnYPWZCBGHRzfSwDZG9NssbNiuKOI1m91vHnj1nVWs2aaTtWBneO2WM-s4Por2zdqo1QHibUmU0_EOJnpmi_BynTvKB6BhCaz_ig/background_short_ver.jpg?format=2500w');
-moz-background: url('https://images.squarespace-cdn.com/content/v1/5d51e5f5c1ab400001473954/1569955323942-PRHQ1DX0VXG3825KS99V/ke17ZwdGBToddI8pDm48kKQ_yA7t8ntRqEFYXDslzh4p-pTsQ9q6vcfATh4zoMvf-74I9FafmeSplBXI_NhjNACvjvxRDOQvYnFbaJd85oh75n5hQOsnYPWZCBGHRzfSwDZG9NssbNiuKOI1m91vHnj1nVWs2aaTtWBneO2WM-s4Por2zdqo1QHibUmU0_EOJnpmi_BynTvKB6BhCaz_ig/background_short_ver.jpg?format=2500w');
-O-background: url('https://images.squarespace-cdn.com/content/v1/5d51e5f5c1ab400001473954/1569955323942-PRHQ1DX0VXG3825KS99V/ke17ZwdGBToddI8pDm48kKQ_yA7t8ntRqEFYXDslzh4p-pTsQ9q6vcfATh4zoMvf-74I9FafmeSplBXI_NhjNACvjvxRDOQvYnFbaJd85oh75n5hQOsnYPWZCBGHRzfSwDZG9NssbNiuKOI1m91vHnj1nVWs2aaTtWBneO2WM-s4Por2zdqo1QHibUmU0_EOJnpmi_BynTvKB6BhCaz_ig/background_short_ver.jpg?format=2500w');
background-repeat: repeat-y;
-webkit-background-repeat: repeat-y;
-moz-background-repeat: repeat-y;
-O-background-repeat: repeat-y;
/* background-attachment: fixed */
  }
  .border-styling {
    margin-top: 95px;
  }
  .met-parallax-img-wrapper {

    position: relative;
    /* height: 100vh; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
  }

  .star-parallax-img-wrapper.parallax::after {
    /* Display and position the pseudo-element */
    content: " ";
    position: absolute;
    top: -1502px;
    right: 0;
    bottom: 0;
    left: -5px;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
    height: 7000px;
  }
  .met-parallax-img-wrapper.parallax::after {
    /* Display and position the pseudo-element */
    content: " ";
    position: absolute;
    top: -1502px;
    right: 0;
    bottom: 0;
    left: -5px;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
    height:6900px;
  }
  .ebus-parallax-img-wrapper {
    position: relative;
    /* height: 100vh; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
}
.ebus-parallax-img-wrapper.parallax::after {
    content: " ";
    position: absolute;
    top: 2088px;
    right: 0;
    bottom: 0;
    left: -5px;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
    height: 9780px;
    background-repeat: repeat-y;
}
.map-parallax-img-wrapper {
    position: relative;
    /* height: 100vh; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
}
.map-parallax-img-wrapper.parallax::after {
    content: " ";
    position: absolute;
    top: -194px;
    right: 0;
    bottom: 0;
    left: -5px;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
    height: 7175px;
}
.rep-parallax-img-wrapper {
    position: relative;
    /* height: 100vh; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
}
.rep-parallax-img-wrapper.parallax::after {
    content: " ";
    position: absolute;
    top:-1000px;
    right: 0;
    bottom: 0;
    left: -5px;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
    height:6000px;
}
.side-byside-images.first-m {
    padding: 0px;
}
.vision-wrapper {
    margin: 0px 25px;
    height: 825px;
}


/* responsive nav css open*/
.sidenav {
    height: 100%;
    width:calc(100% - 60px);
    position: fixed;
    z-index:1;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,.8);
    overflow-x: hidden;
    width: calc(100% - 60px);
    padding-top: 30px;
}
  #ev-section span {
    padding: 9px 8px 0px 40px;
    font-family: Asap!important;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    letter-spacing: .25em;
    line-height: 1.5em;
    text-transform: uppercase;
}
span.neu-wrapper {
    position: relative;
    left: 3px;
}
span.before-wrapper {
    padding-bottom: 47px!important;
}
.sidenav span {
    padding: 0px 0px 9px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    font-family: Asap;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    letter-spacing: .25em;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #fff;
  }
  .sidenav span:hover {
    color:#fff;
  }
  
.closebtn {
    font-size: 36px;
        color: white;
        cursor: pointer;
        position: absolute;
        top: 0px;
        left: 21px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav span {font-size: 18px;}
  }


  .ev-wrapper::after{
    content: '\00BB';
    font-family: sans-serif;
    color: #adadad;
  }
.toogel-wrapper{
    font-size:30px;
    cursor:pointer;
    color:#fff;
    float: right;
    position: absolute;
    right: 20px;
}
span.navbar-brand-wrappper {
    width: 100%;
    text-align: center;
}
nav.responsive-nav-wrapper.responsivenav-dark{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding: 0px 13px;
    z-index: 1001;
}
.responsivenav-dark {
    background-color: #0b0d0e!important;
}
.nav-img-branding-logo{
    max-width: 23px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 7px;
    margin-top: 10px;
    /* position: relative;
    left: 170px; */
}

.before-wrapper::before {
    content: '\00AB';
    font-family: sans-serif;
    color: #adadad;
}
span.before-wrapper.self-wrap {
    margin-bottom: 31px;
    position: relative;
    right: 0px;
}
  /* responsive nav css closed */


.top-logo img{
    /* width: 100%; */
}
.star-parallax-img-wrapper.parallax::after {
    content: " ";
    position: absolute;
    top: -1153px;
    right: 0;
    bottom: 0;
    left: -5px;
    transform: translateZ(-1px) scale(1.5);
    -webkit-transform: translateZ(-1px) scale(1.5);
    -moz-transform: translateZ(-1px) scale(1.5);
    -o-transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
    /* height: 6600px; */
    height: 6910px;
}
.met-parallax-img-wrapper.parallax::after {
    content: " ";
    position: absolute;
    top: -1502px;
    right: 0;
    bottom: 0;
    left: -5px;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
    /* height: 6330px; */
    height: 6824px;
}
  
.home-bottom-container{
    padding-top: 5%;
}
.image-container-star {
    position: relative;
    height: 880px;
}
.images-bottom-slides{
    margin-bottom: -40px !important;

}

  #ev-section{
      display: none;
  }
  /* .data-ev.res-ev-dropdown.slide{
      display: block !important;
      z-index: 2 !important;
  } */
  .secnd-nav-wrapper{
      display:none;
  }

  .ev-sidebar-wrapper{
    height: 100%;
    width: calc(100% - 60px)!important;
    position: fixed;
    z-index:9999999;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,.8)!important;
    overflow-x: hidden;
    width: calc(100% - 60px);
    padding-top: 30px;

}
.ev-sidebar-wrapper span {
    padding: 0px 0px 9px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    font-family: Asap;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    letter-spacing: .25em;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #fff;
}
.slide-wrapper{
    position: relative;
    overflow: hidden;
    width:100%;
    height: 100vh; 
    /* border: 1px solid black; */
}
.slide {
    position: absolute;
    right:-600px;
    width: 100%;
    height: 100vh;
    color: #fff;
    background:rgba(0,0,0,0);;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 0s;
    animation: slide 0.5s forwards;
    animation-delay: 0s;
}

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}

.reverse-sidebar-wrapper{
    height: 100%;
    width: calc(100% - 60px)!important;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,.8)!important;
    overflow-x: hidden;
    width: calc(100% - 60px);
    padding-top: 30px;
}
.reverse-sidebar-wrapper span {
    padding: 0px 0px 9px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    font-family: Asap;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    letter-spacing: .25em;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #fff;
}
.info-sidebar-wrapper{
    height: 100%;
    width: calc(100% - 60px)!important;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,.8)!important;
    overflow-x: hidden;
    width: calc(100% - 60px);
    padding-top: 30px;
}
.info-sidebar-wrapper span {
    padding: 0px 0px 9px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    font-family: Asap;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    letter-spacing: .25em;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #fff;
}
.press-sidebar-wrapper{
    height: 100%;
    width: calc(100% - 60px)!important;
    position: fixed;
    z-index:9999999;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,.8)!important;
    overflow-x: hidden;
    width: calc(100% - 60px);
    padding-top: 30px;
}
.press-sidebar-wrapper span {
    padding: 0px 0px 9px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    font-family: Asap;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    letter-spacing: .25em;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #fff;
}
  #ev-section{
      display: none;
  }
  .data-ev.res-ev-dropdown.slide{
      display: block !important;
      z-index: 2 !important;
  }
  .secnd-nav-wrapper{
      display:none;
  }


  .star-main-wrappers {
    /* height: 100vh; */
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
  }


  /* animation css */
  .side-byside-wrapper img {
    height: 100%;
}


.ebus-zoom-image1 {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    /* animation-iteration-count: infinite;  */

    }
    @-webkit-keyframes ebus-zoom-image1 {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes ebus-zoom-image1 {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 



.ebus-zoom-image2 {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    /* animation-iteration-count: infinite;  */

    }
    @-webkit-keyframes ebus-zoom-image2 {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes ebus-zoom-image2 {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 



.ebus-slideInLeft-image {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    /* animation-iteration-count: infinite; */
}

@-webkit-keyframes ebus-slideInLeft-image {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes ebus-slideInLeft-image {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


.ebus-slideInRight-image {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    /* animation-iteration-count: infinite; */

}

@-webkit-keyframes ebus-slideInRight-image {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes ebus-slideInRight-image {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


.ebus-zoom-image3 {
    -webkit-animation-name: fadeIn;
    animation-name: slidein;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    /* animation-iteration-count: infinite;  */

    }
    @-webkit-keyframes ebus-zoom-image3 {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes ebus-zoom-image3 {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 



    .ebus-slideInLeft-image-3 {
        display: block !important;
        animation: slide-up-fade-in ease 1s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        animation-fill-mode:forwards; /*when the spec is finished*/
    }
    
    @keyframes slide-up-fade-in{
        0% {
            opacity:0;
            transform:  translate(0px,40px)  ;
        }
        100% {
            opacity:1;
            transform:  translate(0px,0px)  ;
        }
    }
    

    .ebus-slideInLeft-image-4 {
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        /* animation-iteration-count: infinite; */
    }
    
    @-webkit-keyframes ebus-slideInLeft-image-4 {
        0% {
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            visibility: visible;
        }
    
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
    
    @keyframes ebus-slideInLeft-image-4 {
        0% {
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            visibility: visible;
        }
    
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }




.ebus-zoom-image5 {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    /* animation-iteration-count: infinite;  */

    }
    @-webkit-keyframes ebus-zoom-image5 {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes ebus-zoom-image5 {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 

    
  /*  */
  .bottom-container{
    margin-bottom: -7%;
    position: relative;
    top: 320px;
  }
  .rep-images-bottom{
    margin-bottom: 0px !important;
  }
  .rep-content-bottom{
    margin-top: 6%;
      margin-bottom: 10%;
  }
  .hub-heading-content{
    position: relative;
    bottom: 20%;
  }
  .map-top-content{
      color: white !important;
  }


  #slideShows2 img {
      display: block !important;
      margin-top: 5%;
  }
  /* .tone-image-section-2 img {
      height: 100vh;
  } */

  #rep-image-one, #rep-image-two {
      /* display: none; */
  }


  .fadeInEbus {
      display: block !important;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    } 
  .header-img-wrapper{
    width: 100%;
    display: block;
    text-align: center;
  }
  .last-ebus-border{
    margin: 6% 15% 3% 15% !important;
  }
  .ebus-bottom-secimages{
    margin-top: -20px;
  }

  .ebus-bottom-contents{
    margin-bottom: 20%;
  }
  .map-head{
    position: relative;
    /* bottom: 0px; */
    padding-top: 30px;
  }

  .map-head span{
    text-align: center;
  }
  
  .border-map-sec{
    margin-top: 15%;
  }
  .map-bottom-sec{
    margin-bottom: 18%;
  }
  .hub-sec-images{
    padding: 0px 20px;
  }
  .bottom-container-ebus{
    margin-bottom: 20%;
  }

.hub-sec{
    width: 65%;
    margin: auto;
    margin-bottom: 9% !important;
    margin-top: 8% !important;
}
.rep-secconten{
    top: 80px !important;
}
.rep-sec-bottom{
    padding-bottom: 10%;
}
.social-content-bottom{
    height: 70px !important;
}
.tech-content{
    height: 80px !important;
}
.rep-image-one.container-fluid.rep-sec-bottom img {
    width: 100%;
}

.morpher-image {
    height: auto !important;
    padding-bottom: 53%;
}
.tone-last{
    bottom: 200px;
    color: #fff !important;
    font-weight: bold;
    display: none;
}

.hidden-arrow-new{
    display: none !important;
}

.new-video {
    /* margin-top: 0 !important; */
}

.vision-video-all {
    pointer-events: 'none';
      position: relative;
    right: 0;
    top: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    object-fit: cover;
    /* margin: 0; */
}

.container-width-press {
    width: 100%;
}
.map-sliding-images.tone-image-section-2 {
    height: 660px;
}

.map-height img {
    height: 100% !important
}
.new-height-map::after {
    height: 7450px !important;
}
.new-hub-height::after {
    height: 7510px !important;
}