.press-one-container {
    background-color: #f7f7f7 !important;
    height: 100%;
}

.torq-image {
    height: 780px;
}

.torq-image img {
    height: 100%
}
.interior-torq {
    margin: 12% 0 0 0;
    line-height: 4
}



#slideshow img{
    position: absolute;
    /* top: 10em; */
    left: 0;
    width: 100%;
    /* height:100%; */
    /* height: 784px; */
    display: block;
  }
/* 
#slideshow {
height: 100vh;
  }
   */
.press-main-conatiner{
    top: 0px !important;
}
.video-container-top{
    top: 0px !important;
}
.press-contents p {
    color: black !important;
    /* font-family: Asap; */
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .01em;
    line-height: 1.5em;
    text-transform: none;
}

.pressone-heading {
    padding: 17% 15% 25px 15%;
}

.pressone-heading h2 {
    font-family: Arial;
    color: Black;
    text-align: center;
    letter-spacing: 4px;
    hyphens: none;
    text-transform: uppercase;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    line-height: 1.4em;
    text-rendering: optimizeLegibility;
}

.pressone-heading h4{
    text-align: center;
    font-family: Arial;
    color: Black;
    font-size: 13pt;
    line-height: 18pt;
    letter-spacing: 3px;
    hyphens: none;
    text-transform: uppercase;
}
.press-images-section {
    padding-bottom: 20px;
}

.press-images {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px 5px;
}

.press-images-wrapper {
    /* margin: 10px; */
    width: 33.33%;
    padding: 6px;
}

.press-images-envintro{
    width: 25%;
    padding: 5px !important;
}
.press-oneImg {
    /* width: 465px; */
    width: 100%;
    object-fit: cover;
}

.press-contents {
    padding: 10px 20px 0px 20px !important;
}

.press-page a {
    color: blue;
    text-decoration: none;
    /* font-family: Asap; */
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .01em;
    line-height: 1.5em;
    text-transform: none;
    word-break: break-word;
}
.press-page a:hover{
    color: blue;
    text-decoration: none;

}

.press-page h2{
    color: #000000;
    font-style: italic;
    margin: 20px 0px;
    text-decoration: none;
    /* font-family: Asap; */
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .01em;
    line-height: 1.5em;
    text-transform: none;
}
.press-page{
    padding: 25px 20% 23%;
    font-size: 18px;
    margin-top: -20px;
    margin-bottom: -120px;
}

.margin-bottom-star {
    margin: 10% 0 18% 0
}
.top-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.top-logo-map{
    margin-bottom: 100px;
}
.not-found{
    background: #0a0c0d;
    color: white;
    padding: 5% 20px 8% 20px;
}

.faq-section{
    padding: 5% 17% 10% 17%;
    /* padding-top: 0px !important; */
    color: rgba(255,255,255,.75);
    align-items: start;
}
.faq-section h2{
    text-align: center;
    white-space: pre-wrap;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    letter-spacing: .2em;
    line-height: 1.4em;
    text-transform: none;
    text-rendering: optimizeLegibility;
    color: rgba(255,255,255,.75);
    padding-bottom: 5%;
    /* font-family: gill-sans-nova!important; */
}

.faq-section h1{
    white-space: pre-wrap;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .2em;
    line-height: 1.4em;
    color: rgba(255,255,255,.75);
    text-transform: none;
    text-rendering: optimizeLegibility;
    padding: 5% 0px;
}

.faq-section p, ul{
    /* font-family: Asap; */
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .01em;
    line-height: 1.5em;
    text-transform: none;
    color: rgba(255,255,255,.75);
    white-space: pre-wrap;
    word-wrap: break-word;
}

.faq-section .questions{
    padding-top: 5% !important;
}

.image-preview-conatiner{
    position: fixed;
    height: 100vh;
    top: 0;
    z-index: 99999999999;
    width: 100%;
}

.preview-image {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.prev-container {
    position: relative;
}
.mySlides {
    /* display: none; */
}
.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}



/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}



/* ======================= modal images ======================= */

.mySlides-popup {display: none}
.mySlides-popup img {

    vertical-align: middle; width: 100%; height: 100vh;
    padding: 15px 85px;
    opacity: 1;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  background-color: #0a0c0d;
  /* opacity: 0.9; */
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  opacity: 1;

}

/* Position the "next button" to the right */
.next {
color: white;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  /* background-color: rgba(0,0,0,0.8); */
  opacity: 1;
  background: transparent;

}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.image-preview-conatiner .active, .dot:hover {
  /* background-color: #717171; */
  opacity: 1;

}

/* Fading animation */
.fading {
  -webkit-animation-name: fading;
  -webkit-animation-duration: 0s;
  animation-name: fading;
  animation-duration: 0s; 
}

 @-webkit-keyframes fading {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fading {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.popup-close {
    position: absolute;
    z-index: 999999;
    top: 20px;
    right: 13px;
    font-size: 16px;;
    color: #fff;
    cursor: pointer;
    /* font-weight: bold; */
}
.submit-wrapper h1{
    padding: 15px;
}

#slideShows1 img{
    position: absolute;
    /* top: 10em; */
    left: 0;
    width: 100%;
    height:100%;
    /* height: 784px; */
    display: block;
  }
#slideShows1 {
height: 100vh;
  }
.error-color{
    color: red !important;
}



.ebus-zoom-image6 {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    /* animation-iteration-count: infinite;  */

    }
    @-webkit-keyframes ebus-zoom-image6 {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes ebus-zoom-image6 {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 

    #zoom-in-ebus-8 {
        /* display: none; */
    }

    .ebus-zoom-image7 {
        display: block !important;
        -webkit-animation-name: zoomIn;
        animation-name: zoomIn;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes ebus-zoom-image7 {
        0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        }
        50% {
        opacity: 1;
        }
        }
        @keyframes ebus-zoom-image7 {
        0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        }
        50% {
        opacity: 1;
        }
        } 


.ebus-col-image1 {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: block !important;
    /* animation-iteration-count: infinite; */
}

@-webkit-keyframes ebus-col-image1 {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes ebus-col-image1 {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


.ebus-col-image2 {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: block !important;

    /* animation-iteration-count: infinite; */

}

@-webkit-keyframes ebus-col-image2 {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes ebus-col-image2 {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


/* image 2 */


.ebus-col-image3 {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: block !important;
    /* animation-iteration-count: infinite; */
}

@-webkit-keyframes ebus-col-image3 {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes ebus-col-image3 {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


.ebus-col-image4 {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: block !important;

    /* animation-iteration-count: infinite; */

}

@-webkit-keyframes ebus-col-image4 {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes ebus-col-image4 {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}



.ebus-col-image5 {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: block !important;
    /* animation-iteration-count: infinite; */
}

@-webkit-keyframes ebus-col-image5 {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes ebus-col-image5 {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


.ebus-col-image6 {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: block !important;

    /* animation-iteration-count: infinite; */

}

@-webkit-keyframes ebus-col-image6 {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes ebus-col-image6 {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.hubPress-lists li{
    color: #000000 !important;
}
.ebus-bottom-sec{
    height: 100vh !important;
}

#map-image-1, #map-image-2, #map-image-2 {
    /* display: none; */
}

.map-image-one {
    display: block !important;
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes map-image-one {
    0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    }
    @keyframes map-image-one {
    0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    } 
    


    .map-image-two {
        display: block !important;
        -webkit-animation-name: slideInUp;
        animation-name: slideInUp;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes map-image-two {
        0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        }
        }
        @keyframes map-image-two {
        0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        }
        } 

.map-image-three {
    display: block !important;
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes map-image-three {
    0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    }
    @keyframes map-image-three {
    0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    } 

    #hub-section-one, #hub-section-two {
        /* display: none; */
    }
.image-container-tone img{
    opacity: 1;
    left: -243.68px;
    top: 0px;
    width: 1314.49px;
    height: 693px;
    position: relative;
}

.ebus-last-section {
    height: 100vh;
}
.map-sec-images{
    margin: 0px 15px !important;
}

.yui3-u{
    width: 100% !important;
    height: 100% !important;
}

.yui3-calendar-row td{
    width: 196px;
    height: 196px;
    /* background: rgba(110,110,110,.05) !important; */
    text-align: end !important;
    vertical-align: top;
    background-color: #101213 !important;
    padding: 10px !important;
    color: #7c7d7e !important;
}
.yui3-g.yui3-calendar-header{
    margin: 0 0 60px 0;
    padding: 0;
    overflow: hidden;
    transition: opacity .3s ease-in;
    overflow: initial !important;
}


.yui3-calendar-weekdayrow{
    opacity: .7;
    padding-bottom: 10px;
    color: inherit;
    font-size: 12px;
    /* line-height: 12px; */
    font-weight: normal;
    text-align: center;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.calender-conatiner{
    color: rgba(255, 255, 255, .75) !important;
}

.yui3-u.yui3-calendar-header-label{
    float: left;
    margin: 0 !important;
    padding: 0;
    font-size: 28px !important;
    text-align: center;
    box-sizing: border-box;
    color: #e8e5e599 !important;
}

.yui3-calendar-grid{
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 4px;
    outline: 0;
    transition: opacity .3s ease-in;
}
.yui3-u-1{
    padding: 20px !important;
}
.yui3-skin-sam .yui3-calendarnav-nextmonth{
    border-left-color: transparent !important;
}
.yui3-u.yui3-calendarnav-nextmonth::before{
    font-family: 'squarespace-ui-font';
    background: transparent;
    text-indent: -9999px;
    border-top: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    color: transparent;
    transform: rotate(-45deg);
    left: 30px;
    /* width: 13px !important; */
    top: 45px;
    /* height: 13px !important; */
    position: absolute;
    content: '';
    padding: 5px;
    cursor: pointer !important;
}

.yui3-u.yui3-calendarnav-nextmonth::after{
   font-family: 'squarespace-ui-font';
    background: transparent;
    text-indent: -9999px;
    border-top: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    color: transparent;
    /* width: 13px !important; */
    top: 45px;
    /* height: 13px !important; */
    position: absolute;
    content: '';
    transform: rotate(135deg);
    right: 30px;
    padding: 5px;
    cursor: pointer !important;
}
.yui3-calendar-row tr:last-child{
    display:none!important;

}


a:not([href]):hover{
    color: transparent !important;
    border: none !important;
    outline: none !important;
    /* background: red; */
    text-decoration: none !important;
    outline-width:0!important;
    border-width:0!important;
}
.yui3-g.yui3-calendar-header :focus, .yui3-g.yui3-calendar-header a :focus, .yui3-g.yui3-calendar-header div :focus, :focus {
    outline:none!important;
    cursor: initial !important;
}
.yui3-g.yui3-calendar-header a{
    margin-top: 0px !important;
    cursor: initial !important;

}


.yui3-u.yui3-calendarnav-prevmonth{
    cursor: initial !important;

}
.icon-values-tyre {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 10px;
    font-size: 20px
}
.w3-content.w3-section.map-sliding-images.hub-slider-wrapper img{
    height: 100%!important;
}